<!DOCTYPE html>
<html lang="en" ng-app="AngularPhonebook">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="public/angular/angular.min.js" charset="utf-8"></script>
  <script src="public/app.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="style.css">
  <title>Angular Phonebook</title>
</head>
<body ng-controller="HomeCtrl">
  <div class="overlay"></div>
  <header>
    <div class="container">
      <h1>{{title}}</h1>
    </div>
  </header>
  <div class="container">
  <input type="text" placeholder="Who are you looking for?" ng-model="search.first">
  <p ng-if="search">You searched for: {{search.first}}</p>
  <ul class="people">
    <li  ng-repeat="user in users | filter:{name:search}" ng-click="modalPopup($index);" >
        <div class="picture">
        <img src="{{user.picture.large}}" alt="{{user.name.first}} {{user.name.last}}">
      </div>
      <p>{{user.name.first | capitalise}} {{user.name.last | capitalise}}</p>

      </li>
  </ul>

  </div>
  <div ng-show="currentUser" class="user-info">
    <div class="user-title">
      <img src="{{currentUser.picture.large}}" alt="">
      <h2>{{currentUser.name.first | capitalise}} {{currentUser.name.last | capitalise}}</h2>
    </div>
    <table class="user-contact">
      <tr>
        <td>Phone Number:</td>
        <td>{{currentUser.phone}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{currentUser.email}}</td>
      </tr>
      <tr>
        <td>Street:</td>
        <td>{{currentUser.location.street}}</td>
      </tr>
      <tr>
        <td>City:</td>
        <td>{{currentUser.location.city}}</td>
      </tr>
      <tr>
        <td>State:</td>
        <td>{{currentUser.location.state}}</td>
      </tr>
      <tr>
        <td>Postcode:</td>
        <td>{{currentUser.location.postcode}}</td>
      </tr>

    </table>
    <div class="close">
      <span><a href="#">X</a></span>
    </div>
  </div>
  <script>
  function modalPopup(){
    alert('pop');
  }
    window.onload = function(){
      function modalPopup(){
        alert('pop');
      }

      document.querySelector('.close').addEventListener('click', function(){
        document.querySelector('.user-info').style.opacity = 0;
        document.querySelector('.overlay').style.opacity = 0;
        setTimeout(function(){
          document.querySelector('.user-info').style.display = 'none';
          document.querySelector('.overlay').style.display = 'none';
        }, 500);
    });
    // Array.prototype.slice.call(document.querySelectorAll('.people li a'))
    // .forEach(function(person){
    //   person.addEventListener('click', function(e){
    //     console.log(e);
    //   });
    // });
  }
  </script>
</body>
</html>
